<%- include src/partials/header -%>

  <body class="logout">
    <%- include src/partials/navbar -%>
    <div class="columns is-login-t">
      <%- include src/partials/toolbar -%>
      <div class="column">
        <section class="app-main section">
          <div class="app-list">
            <div class="container is-fluid">
              <div id='main-box'></div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <%- include src/partials/login -%>
    <%- include src/partials/modal -%>
  </body>

  </html>
